MONGO_URI=write your mongo uri here
JWT_SECRET=write your jwt secret here

CLIENT_ID=write your client id here
CLIENT_SECRET=write your client secret here
REFRESH_TOKEN=write your refresh token here
EMAIL_USER=write your email here